{% extends 'base.html.twig' %}

{% block author 'SensioTV' %}
{% block description 'An awesome SensioLabs University project to order some cool movies.' %}

{% block og_image 'https://university.sensiolabs.com/images/sensiolabs-university-fullwhite.png' %}
{% block og_title 'Home' %}
{% block og_description 'An awesome SensioLabs University project to order some cool movies.' %}

{% block title 'Home' %}

{% block header %}
    {{ parent() }}

    <section id="video-header" class="video-background-holder">
        <div class="video-background-overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="{{ asset('build/video/home-trailer.mp4') }}" type="video/mp4"></video>
        <div class="video-background-content text-white text-center h-100">
            <div class="d-flex align-items-center h-100">
                <div class="w-100">
                    <h1 class="display-3 font-weight-bold m-0">Sensio<span class="color-green">TV+</span></h1>
                    <p class="lead"><strong class="font-weight-bold">We will make you love TV again. A new way of ordering, downloading and watching television !</strong></p>
                    <p><a href="#first-section" title="Click here to get more information">Learn more <i class="far fa-arrow-alt-circle-right"></i></a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block body_attributes 'id="home"' %}
{% block body %}
    <section id="first-section" class="background-gradient text-center text-white">
        <div class="container p-md-3">
            <div class="row">
                <div class="col-md-12 mx-auto m-5">
                    <img class="m-5" src="{{ asset('build/images/sensiotv-icon.png') }}" alt="SensioTV Brand Icon">
                    <h2 class="display-3 font-weight-bold mb-5">All selections. In one place.</h2>
                    <div class="lead font-weight-normal">
                        <p class="m-0">A one-year subscription giving you access to a lot of 4K movies.</p>
                        <p class="m-0">Watch <strong>Sensio<span class="color-green">TV+</span></strong> on your Smart TV, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
                    </div>
                </div>
            </div>
        </div>
        <img class="img-fluid img-rounded-top" src="{{ asset('build/images/index-first-section.jpg') }}" alt="SensioTV Demonstration Screen">
    </section>

    <section id="second-section" class="m-5">
        <div class="container pb-5 pt-5">
            <div class="row m-md-5 align-items-center text-center">
                <div class="col-lg-6 p-md-5">
                    <h3 class="font-weight-bold display-4">CINEMATIC.</h3>
                    <p class="display-4 font-weight-bold mb-5"><span class="text-muted">On all aspects. In every way.</span></p>
                    <p class="lead pt-5">Download your favorite movies to watch offline. <br> Enjoy the offline mode without paying more.</p>
                    <a class="btn btn-outline-dark m-4" href="{{ path('app_register') }}" title="Create an account and subscribe for one year">Subscribe <i class="fas fa-plus"></i></a>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid img-rounded" src="{{ asset('build/images/index-second-section.jpg') }}" alt="SensioTV One Movie Sample">
                </div>
            </div>
        </div>
    </section>

    <section id="third-section" class="background-gradient p-5">
        <div class="container pb-5">
            <div class="row m-md-5 align-items-center">
                <div class="col text-center p-md-5">
                    <h4 class="display-3 font-weight-bold text-white mb-5">A wide selection of the newer movies.</h4>
                </div>
            </div>
            <div class="row mb-3">
                {% for movie in movies %}
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <img class="img-fluid img-rounded-top" src="{{ asset('build/images/movie-image-samples/'~movie.poster) }}" alt="{{ movie.title ~ ' Poster.'}}">
                            <div class="card-body">
                                <p class="font-weight-bold">
                                    {{ movie.title|capitalize }} <span class="text-muted">({{ movie.released|date("Y")}})</span> <small>- {{ movie.directors[0] }}</small>
                                    <br>
                                    <b class="p-1">"</b> <small class="text-secondary">{{ movie.description }}</small>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{{ path('app_movie_details', {'uuid': movie.uuid }) }}" class="btn btn-sm btn-dark" title="View in details">View</a>
                                    <small class="text-success"><i class="fas fa-clock"></i> {{ movie.runtime }} mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col text-center m-5">
                    <p><a href="{{ path('app_movie_chart_latest') }}" title="Click here to get more information">Watch all our latest movies <i class="far fa-arrow-alt-circle-right"></i></a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
