<section class="container py-5 mt-5 mb-5">
    <div class="row">
        <div class="col-sm-5">
            <h5 class="font-weight-bold">Services</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{{ path('app_default_index') }}" title="Back to the homepage">Home</a></li>
                <li><a class="text-muted" href="{{ path('app_movie_chart_top_rated') }}" title="Get all top rated movies">Top Rated</a></li>
                <li><a class="text-muted" href="{{ path('app_genre_index') }}" title="Find your movie by genre">Browse By Genre</a></li>
                <li><a class="text-muted" href="{{ path('app_movie_chart_latest') }}" title="Get all new movies">Latest</a></li>
                <li><a class="text-muted" href="{{ path('app_default_contact') }}" title="You need some help ?">Help Center</a></li>
                <li><a class="text-muted" href="{{ path('app_security_login') }}" title="Register or log in">Log In</a></li>
            </ul>
        </div>
        <div class="col-sm-5">
            <h5 class="font-weight-bold">About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
        </div>
        <div class="col-sm-2">
            <a href="#main" class="font-weight-bold text-dark">Back to top <i class="far fa-arrow-alt-circle-up"></i></a>
        </div>
        <div class="col-12">
            <p><strong>SensioTV+</strong> by <strong>Sensio<span class="color-green">Labs</span></strong> University<br><small class="d-block mb-3 text-muted">&copy; 2017-2020</small></p>
        </div>
    </div>
</section>
