<nav class="navbar navbar-dark navbar-expand-md fixed-top justify-content-center">
    <a class="navbar-brand mr-0" href="{{ path('app_default_index') }}"><img src="{{ asset('build/images/sensiotv-icon.png') }}" alt="SensioTV Brand Icon"> <span class="color-green">TV+</span></a>
    <button class="navbar-toggler ml-5" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if 'dashboard' in currentRoute or 'admin' in currentRoute %}
        <button id="collapsingLeftSideBar" class="navbar-toggler ml-1" type="button">
            <span class="sidebar-toggler-icon"><i class="fas fa-indent"></i></span>
        </button>
    {% endif %}
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item {{ currentRoute is same as('app_default_index') ? 'active' }}">
                <a class="nav-link" href="{{ path('app_default_index') }}" title="Back to the homepage">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {{ currentRoute is same as('app_movie_chart_top_rated') ? 'active' }}">
                <a class="nav-link" href="{{ path('app_movie_chart_top_rated') }}" title="Get all top rated movies">Top Rated</a>
            </li>
            <li class="nav-item {{ currentRoute is same as('app_genre_index') ? 'active' }}">
                <a class="nav-link" href="{{ path('app_genre_index') }}" title="Find your movie by genre">Browse By Genre</a>
            </li>
            <li class="nav-item {{ currentRoute is same as('app_movie_chart_latest') ? 'active' }}">
                <a class="nav-link" href="{{ path('app_movie_chart_latest') }}" title="Get all new movies">Latest</a>
            </li>
            <li class="nav-item {{ currentRoute is same as('app_default_contact') ? 'active' }}">
                <a class="nav-link" href="{{ path('app_default_contact') }}" title="You need some help ? Contact us !">Help Center</a>
            </li>
        </ul>
        <ul class="navbar-nav text-center">
            <li class="nav-item active"><a class="nav-link" href="{{ path('app_user_cart_index') }}" title="Register or log in"><i class="fas fa-shopping-bag"></i></a></li>
            <li class="nav-item active"><a class="nav-link" href="{{ path('app_user_dashboard_profile') }}" title="Register or log in"><i class="fas fa-user"></i></a></li>
        </ul>
    </div>
</nav>
